table {
  color: white !important;
}

.form-control {
  border-radius: 30px !important;
}

.btn-primary {
  border-radius: 30px;
  background-color: #64b500;
}

.btn-danger {
  border-radius: 30px;
  background-color: #ff5733;
}

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
